@media (max-width: 1200px) {

    .wrapper {
        max-width: 1000px;
    }

    .wrapper1 {
        max-width: 1000px;
    }

    .santa-claus__left-block {
        position: relative;
        padding: 20vh 0 0 10vw;
    }

    .mountains__title {
        font-size: 3.25em;
        margin: 0 0 30px;
    }

    .mountains__choose {
        font-size: 1.75em;
        margin: 0 0 30px;
    }

    .mountains__btn {
        width: 110px;
        height: 110px;
    }

    .mountains__btn img {
        max-height: 100%;
        max-width: 70%;
    }

    .header-open {
        height: 100%;
        overflow: hidden;
    }
}

@media (max-width: 992px) {

    .wrapper {
        max-width: 780px;
    }

    .wrapper1 {
        max-width: 780px;
        padding-right: 30px;
    }

    .santa-claus__cloud {
        bottom: 200px;
        right: 460px;
    }

    .mountains__bloks {
        flex-wrap: wrap;
        margin-top: 15vh;
        justify-content: center;
    }

    .mountains__left-block {
        margin-right: 0;
    }

    .mountains__presents {
        margin: 0 auto;
    }

    .mountains__btn {
        width: 150px;
        height: 150px;
    }

    .mountains__btn img {
        max-height: 100%;
        max-width: 100%;
    }

    .mountains__right-block {
        border: none;
        padding: 80px 0 80px 0;
    }

    .article {
        margin-right: 0;
        margin-top: 30px;
    }

    .header-menu {
        position: absolute;
        left: 50%;
        opacity: 0;
        transform: translate(0, -50%);
        transition: all .2s ease 0s;
    }

}

@media (max-height: 568px) {

    .header {
        position: absolute;
        padding: 30px 0 0 0;
    }

    .logo img {
        height: 40px;
    }

    .santa-claus__img {
        max-width: 100vh;
    }

    .santa-claus__cloud {
        bottom: 20vh;
        right: 60vh;
    }

    .cloud-text {
        top: 6vh;
        left: 6vh;
        font-size: 2.5vh;
    }

    .mountains {
        height: 100%;
        padding: 0 0 5vh;
    }

    .deer {
        height: 100%;
        padding: 15vh 0 5vh;
    }

}

@media (max-width: 767px) {

    .wrapper {
        max-width: none;
    }

    .wrapper1 {
        max-width: none;
    }

    .snowflake {
        display: none;
    }

    .santa-claus__left-block {
        position: relative;
        padding: 20vh 0 0 0;
    }

    .santa-claus__title {
        font-size: 3.25em;
        margin: 0 0 30px;
    }

    .santa-claus__description {
        font-size: 1.75em;
        margin: 0 0 40px;
    }

    .santa-claus__btn {
        position: relative;
        margin: 0 auto;
        z-index: 0;
    }

    .slick-arrow.slick-next {
        display: none;
    }

    .santa-claus__cloud {
        display: none;
    }

    .header {
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 110px;
        padding: 30px 0 0 0;
        z-index: 1;
    }

    .header-open {
        height: 100%;
        overflow: hidden;
    }

    .header-body {
        position: relative;
        width: 100%;
    }

    .logo {
        position: absolute;
        left: 20px;
        top: 0;
    }


    .mountains {
        height: 100%;
    }



    .link-red {
        color: #141429;
    }

    .mountains__right-block {
        min-width: 260px;
    }

    .mountains__presents {
        max-width: none;
    }

    .mountains__btn {
        width: 25vw;
        height: 25vw;
    }

    .mountains__btn img {
        max-height: 90%;
        max-width: 80%;
    }

    .article-block {
        flex-direction: column-reverse;
    }

    .article__title {
        text-align: center;
    }

    .article {
        max-width: none;
    }

    .deer {
        height: 100%;
        ;
    }

    .deer__block {
        margin-top: 15vh;
        margin-bottom: 5vh;
    }

    .deer__title {
        font-size: 3.25em;
    }

    .deer__reg {
        flex-direction: column;
    }

    .deer__form {
        width: 100%;
    }

    .deer__input {
        width: 100%;
    }

    .select {
        width: 100%;
    }

    .select__header {
        width: 100%;
    }

    .select__body {
        width: 100%;
    }
}